#project {
  width: 100%;
  height: 100vh;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.slider {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 90%;
  gap: 30px;
  padding: 20px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  #project {
    height: auto;
    padding: 20px 0;
  }
  
  .slider {
    grid-template-columns: 1fr;
    width: 95%;
    gap: 20px;
    padding: 10px;
  }
}
